          

[
  {emq_plugin_2db, [ 
    {odbc, ["localmssql","test","test"] },
    {topics , 
        [
          {<<"plant1/GasSensors">>,1}, 
          {<<"plant1/Machine1">>,2},
          {<<"plant1/Machine1Alarm">>,3},
          {<<"plant1/TempHumi">>,4},
          {<<"bu1/location/temphumisensors">>,5}
        ]
    },

    {reqlist,
      [
        [<<"ppm">>,<<"temp">>,<<"suid">>],
        [<<"ts">>, <<"suid">>, <<"SupAirRH">>, <<"ProcInRH">>, <<"ProcInAirTemp">>, <<"ProcOutAirTemp">>, <<"ReactInTemp">>, <<"ReactOutTemp">>],
        [<<"ts">>, <<"suid">>, <<"AlarmType">>, <<"AlarmStatus">>],
        [<<"ts">>, <<"suid">>, <<"temp">>, <<"humi">>],
        [<<"ts">>,<<"suid">>,<<"temp">>,<<"humi">>]
      ]
    },
            
    {que1 ,
        [
          "INSERT INTO [dbname1].[dbo].[tablename1] ( [ts] ,[suid] ,[ppm] ,[temp]) VALUES( ? ,? , ? , ?)",

          "INSERT INTO [dbname2].[dbo].[tablename2] ([ts], [suid], [SupAirRH], [ProcInRH], [ProcInAirTemp],
          [ProcOutAirTemp], [ReactInTemp], [ReactOutTemp] ) VALUES(?,?,?,?,?,?,?,?)",

           "INSERT INTO [dbname3].[dbo].[tablename3] ([ts], [suid], [AlarmType], [AlarmStatus] ) VALUES(?,?,?,?)",

          "INSERT INTO [dbname4].[dbo].[tablename4] ([ts], [suid], [temp], [humi] ) VALUES(?,?,?,?)",

          "INSERT INTO [dbname5].[dbo].[tablename5] ( [ts] ,[suid] ,[temp] ,[humi]) VALUES( ? ,? , ? , ?)"
        ]
    
    },

    {que2,
        [

          "[   {{sql_varchar, 80},  [emq_plugin_2db:try_get_ts(Message, MessageMaps)] },
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"suid\">>, MessageMaps,\"int\")] },
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"ppm\">>, MessageMaps,\"int\")] },
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"temp\">>, MessageMaps,\"int\")] }
              
          ]\.",


          "[   {{sql_varchar, 80},  [emq_plugin_2db:try_get_ts(Message, MessageMaps)] },
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"suid\">>, MessageMaps,\"int\")]},
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"SupAirRH\">>, MessageMaps,\"int\")]},
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"ProcInRH\">>, MessageMaps,\"int\")]},
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"ProcInAirTemp\">>, MessageMaps,\"int\")]},
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"ProcOutAirTemp\">>, MessageMaps,\"int\")]},
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"ReactInTemp\">>, MessageMaps,\"int\")]},
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"ReactOutTemp\">>, MessageMaps,\"int\")]}
          ]\.",

          "[   {{sql_varchar, 80},  [emq_plugin_2db:try_get_ts(Message, MessageMaps)] },
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"suid\">>, MessageMaps,\"int\")]},
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"AlarmType\">>, MessageMaps,\"int\")]},
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"AlarmStatus\">>, MessageMaps,\"int\")]}
          ]\.",
          
          "[   {{sql_varchar, 80},  [emq_plugin_2db:try_get_ts(Message, MessageMaps)] },
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"suid\">>, MessageMaps,\"int\")]},
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"temp\">>, MessageMaps,\"int\")]},
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"humi\">>, MessageMaps,\"int\")]}
          ]\.",

          "[   {{sql_varchar, 80},  [emq_plugin_2db:try_get_ts(Message, MessageMaps)] },
              {{sql_varchar, 80}, [emq_plugin_2db:try_get_val(<<\"suid\">>, MessageMaps,\"string\")] },
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"temp\">>, MessageMaps,\"int\")] },
              {sql_integer , [emq_plugin_2db:try_get_val(<<\"humi\">>, MessageMaps,\"int\")] }
              
          ]\."



        ] 
    }
  ]}
].

